.diagram {
  margin: auto;
  padding: $gap-l;
  background-image: url(../img/icons/circle-temp.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.diagram__circle {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(134,121,71,0.45);
  display: flex;
}

.diagram__text {
  font-weight: 700;
  font-size: 66px;
  line-height: 66px;
  color: $gray-dark;
  margin: auto;
}

.diagram__temp {
}