.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__btn {
  padding: 6px 16px 8px;
  background-color: $primary;
  border-radius: 20px;
}

.dropdown__active {
  text-decoration: none;
  color: $black;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  margin-right: 5px;
}