.heading {
  color: $gray-dark;
  font-weight: 700;

  &--xl {
    font-size: 37px;
  }

  &--l {
    font-size: 18px;
    margin: 5px 0 $gap-l;
  }

  &--m {
    font-size: 14px;
    margin: 3px 0;
  }
}