.modal__wrp {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: $gap-l;
  max-height: 100%;
  overflow: scroll;
  display: flex;
  transition: all 0.30s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 5;
  width: 0;
  min-height: 0;
  height: 0;
  transform: scale(0);
  will-change: auto;

  &--open {
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    min-height: 100%;
    height: auto;
    transform: scale(1);
  }
}

.modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  opacity: 0;
  will-change: auto;
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

}

.modal__wrp--open .modal__bg {
  opacity: 0.5;
}

.modal {
  position: relative;
  width: 100%;
  min-height: 100%;
  max-width: 630px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  overflow: scroll;

  @supports (display: grid) {
    display: grid;
    grid-gap: $gap-m;
    grid-template-rows: auto;
    grid-template-columns: minmax(320px, auto);
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-areas: "modal-inner" "modal-btn" "modal-btn";
  }
  @media #{$breakpointTablet} {
    @supports (display: grid) {
      grid-template-columns: 50%;
      grid-template-areas: "modal-inner modal-inner" "modal-btn modal-btn";
    }
  }
}

.modal__inner {
  background-color: $white;
  padding: $gap-l 0;
  border-radius: 20px;
  flex-grow: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;

  @supports (display: grid) {
    grid-area: modal-inner;
  }
}

.modal__title {
  padding: 0 $gap-l;
}

.modal__text {
  padding: 0 $gap-l;
}

.modal__content {
  padding: $gap-m 0 0;
}

.modal__btn {
  display: block;
  font-size: 18px;

  & span {
    padding: $gap-l;
  }
}

.modal__header {
  position: relative;
}

.modal__status {
  display: none;
  position: absolute;
  right: $gap-l;
  top: 0;
  font-size: 37px;
  font-weight: 700;
  @media #{$breakpointTablet} {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
