$range-height: 60px;
$range-width: 336px;

.range {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.range__content {
  position: relative;
  margin: 25px auto 5px;
  padding: 0;
  min-height: $range-width;
  box-sizing: content-box;
  display: flex;
  flex-grow: 1;
  @media #{$breakpointTablet} {
    min-height: 100%;
    width: auto;
  }
}

.range__bar {
  position: relative;
  margin: auto;
  width: $range-width;
  height: $range-height;
  border-radius: 35px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transform: rotate(90deg);
  outline: none;
  transition: all 0.15s linear;

  @media #{$breakpointTablet} {
    transform: rotate(0deg);
  }

  &--rainbow {
    background-image: linear-gradient(-90deg, $accent-orange 0%, $accent-yellow 50%, $accent-blue 100%);
  }

  &--primary {
    background-image: linear-gradient(90deg, $yellow-dark 0%, $yellow-light 100%);
  }

  &:focus,&:hover,&:active {
    @include box-shadow;
  }
}

.range__bar::-webkit-slider-thumb,
.range__bar::-moz-range-thumb,
.range__bar::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgba(51, 51, 51, 0.10);
  box-shadow: 0 0 0 4px $white;
  cursor: pointer;
  transition: all 0.15s linear;

  &:focus,&:hover,&:active {
    @include box-shadow;
  }
}
.range__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgba(51, 51, 51, 0.10);
  box-shadow: 0 0 0 4px $white;
  cursor: pointer;
}

.range__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  @media #{$breakpointTablet} {
    width: auto;
    height: 100%;
  }

  &--max {
    top: $gap-m;
    @media #{$breakpointTablet} {
      top: 0;
      bottom: 0;
      left: inherit;
      right: $gap-m;
    }
  }

  &--min {
    bottom: $gap-m;
    @media #{$breakpointTablet} {
      bottom: 0;
      left: $gap-m;
    }
  }
}

.range__text {
  font-size: 18px;
  line-height: 21px;
  color: $white;
  font-weight: 700;
}

.range__icon {
  margin-top: -3px;
  margin-bottom: -3px;
}