.section {
  min-width: 320px;
  width: 100%;
  height: 100%;
  padding-left: $gap-l;
  box-sizing: border-box;
  margin: 0 0 $gap-xl;
  //overflow-x: hidden;

  @media #{$breakpointDesktop} {
    max-width: inherit;
    margin: auto;
    padding: 0px;
  }

  &--rightspace {
    padding-right: $gap-l;
    @media #{$breakpointDesktop} {
      padding-right: 0;
    }
  }
}

.section__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-right: $gap-l;
  @media #{$breakpointTablet} {
    justify-content: flex-start;
  }
}

