.slider {
  display: flex;
  overflow: scroll;
  margin: -2px;
  padding: 2px;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    display: none;
  }

  &--to-vertical {
    @media #{$breakpointDesktop} {
      flex-direction: column;
      height: 100%;
      margin: 0;
    }
  }

  &--to-vertical .slider__block {
    @media #{$breakpointDesktop} {
      margin-left: 0;
      margin-top: $gap-m;
    }
  }

  &--to-grid {
    @media #{$breakpointDesktop} {
      display: grid;
      grid-template-columns: repeat(auto-fill, 200px);
      grid-gap: 15px;
    }
  }

  &--to-grid .slider__block {
    @media #{$breakpointDesktop} {
      margin: 0;
    }
  }

  &--to-line {
    @media #{$breakpointDesktop} {
      padding-left: $gap-l;
    }
  }
}

.slider__block {
  margin-left: $gap-l;
  background-color: $gray-lightest;
  border-radius: 20px;
  padding: $gap-m;
  width: 200px;
  flex-shrink: 0;
  display: flex;
  transition: all 0.20s linear;
  cursor: pointer;

  &:hover {
    background-color: $white;
    @include box-shadow;
  }

  &--s {
    min-height: 100px;
  }

  &--m {
    min-height: 120px;
  }
}

.slider__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slider__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.slider__controls {
  margin-left: auto;
  width: 50px;
  display: none;
  justify-content: space-between;
  @media #{$breakpointDesktop} {
    display: flex;
  }
}

.slider__control {
  transition: all 0.1s linear;

  & svg {
    fill: $gray;
    transition: all 0.1s linear;
  }

  &:hover, &:focus {
    svg {
      fill: $gray-dark;
    }
  }

  &:active {
    transform: scale(0.9);
  }

  &--r svg {
    transform: rotate(180deg);
  }
}

.slider__card-bth {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background: #F7F7F7;
  border-radius: 20px 20px 0 0;
  display: none;
  z-index: 1;
  @media #{$breakpointDesktop} {
    display: flex;
  }

  & svg {
    fill: $gray;
    margin: auto;
    transition: all 0.15s linear;
  }

  &:hover, &:focus, &:active {
    svg {
      fill: $gray-dark
    }
  }
}
