.filter-btn {
  padding: 6px 16px 8px;
  background-color: $primary;
  border-radius: 20px;
}

.filter-active {
  text-decoration: none;
  color: $black;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
}