doctype html
html(lang='ru')
  head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title
  meta(name='description' content='')
  link(rel='stylesheet' href='css/main.css')

  include mixins/slider-card
  include mixins/svg

  body.grid
    include components/header
    main.grid__main
      section.welcome.grid__welcome.section.section--rightspace
        div.section__header
          h2.heading.heading--l.hide-tablet Главное
        div.welcome__inner
          div.welcome__block
            h2.welcome__heading Привет,&nbsp;
              span.welcome__user Геннадий!
            p.text.text--dark Двери и&nbsp;окна закрыты, сигнализация включена.
            div.forecast
              div.forecast__block
                p.forecast__location.text.text--light Дома
                p.forecast__text
                  span +23
              div.forecast__block
                p.forecast__location.text.text--light За окном
                p.forecast__text.forecast__text--rain
                  span  +19
                  span.forecast__icon
                    + svg('cloud', '20', '20')
          div.welcome__slider
            div.slider.slider--m.slider--to-vertical
              div.slider__block.slider__block--to-vertical.slider__block--m
                +slider-card-temp('temperature', 'Philips Cooler', 'Начнет охлаждать в 16:30')
              div.slider__block.slider__block--to-vertical.slider__block--m
                +slider-card-light('sun', 'Xiaomi Yeelight LED Smart Bulb', 'Включится в 17:00')
              div.slider__block.slider__block--to-vertical.slider__block--m
                +slider-card-floor('temperature', 'Elgato Eve Degree Connected', 'Выключено до 17:00')
              div.slider__block.slider__block--to-vertical.slider__block--m
                +slider-card-floor('sun', 'LIFX Mini Day & Dusk A60 E27', 'Включится в 17:00')
              div.slider__block.slider__block--to-vertical.slider__block--m
                +slider-card-floor('sun_2', 'Xiaomi Mi Air Purifier 2S', 'Включено')
              a.slider__card-bth(href='#')
                + svg('arrow-double', '16', '16')
      section.scenarios.grid__scenarios
        div.section
          div.section__header
            h2.heading.heading--l Избранные сценарии
            div.slider__controls
              a.slider__control.slider__control--l(href='#')
                + svg('arrow-left', '12', '14')
              a.slider__control.slider__control--r(href='#')
                + svg('arrow-left', '12', '14')
          div.slider.slider--to-grid
            div.slider__block.slider__block--s
              +slider-card-s('sun_2', 'Выключить весь свет в доме и во дворе')
            div.slider__block.slider__block--s
              +slider-card-s('scheduled', 'Я ухожу')
            div.slider__block.slider__block--s
              +slider-card-s('sun_2', 'Включить свет в коридоре')
            div.slider__block.slider__block--s
              +slider-card-s('temperature_2', 'Набрать горячую ванну', 'Начнётся в 18:00')
            div.slider__block.slider__block--s
              +slider-card-s('temperature_2', 'Сделать пол тёплым во всей квартире')

      section.favorite.grid__favorite
        div.section
          div.section__header.section__header--lp
            h2.heading.heading--l Избранные устройства
            div.dropdown
              a.dropdown__link.dropdown__link--active(href='#') Все
              a.dropdown__link(href='#') Кухня
              a.dropdown__link(href='#') Зал
              a.dropdown__link(href='#') Лампочки
              a.dropdown__link(href='#') Камеры
          div.slider.slider--to-line
            div.slider__block.slider__block--m
              +slider-card-temp('temperature', 'Philips Cooler', 'Начнет охлаждать в 16:30')
            div.slider__block.slider__block--m
              +slider-card-light('sun', 'Xiaomi Yeelight LED Smart Bulb', 'Включится в 17:00')
            div.slider__block.slider__block--m
              +slider-card-temp('temperature', 'Elgato Eve Degree Connected', 'Выключено до 17:00')
            div.slider__block.slider__block--m
              +slider-card-floor('sun', 'LIFX Mini Day & Dusk A60 E27', 'Включится в 17:00')
            div.slider__block.slider__block--m
              +slider-card-light('sun', 'Xiaomi Mi Air Purifier 2S', 'Выключено')
            div.slider__block.slider__block--m
              +slider-card-light('sun_2', 'Xiaomi Mi Air Purifier 2S', 'Включено')
            div.slider__block.slider__block--m
              +slider-card-light('sun_2', 'Xiaomi Mi Air Purifier 2S', 'Включено')

  include components/footer
  script(src='js/bundle.js')

