footer.footer
  div.footer__inner
    ul.footer__nav
      li.footer__nav-item
        a.footer__nav-link Помощь
      li.footer__nav-item
        a.footer__nav-link Обратная связь
      li.footer__nav-item
        a.footer__nav-link Разработчикам
      li.footer__nav-item
        a.footer__nav-link Условия использования
    div.copyright
      p.copyright__date &copy; 2001&ndash;
        span.copyright__currentyear.currentyear
      a.copyright__link(href="https://yandex.ru" target="_blank") ООО &laquo;Яндекс&raquo;