section.modal__wrp
  div.modal
    div.modal__inner
      header.modal__header
        h2.modal__title.heading.heading--l Elgato Eve Degree Connected
        p.modal__text.text Включено
        div.modal__status
          span.modal__status-text +23
          span.icon.modal__status-icon
            svg(width="40px" height="40px")
              use(xlink:href="img/icons.svg#temperature_2")
      div.modal__content.range
        div.filters
          ul.filters__list
            li.filters__item
              a.filters__link.filters__link--on(href="#") Вручную
            li.filters__item
              a.filters__link(href="#") Холодно
            li.filters__item
              a.filters__link(href="#") Тепло
            li.filters__item
              a.filters__link(href="#") Жарко
        div.range__content
          div.range__bar.range__bar--rainbow
            div.range__caption.range__caption--max
              span.range__text +30
            div.range__caption.range__caption--min
              span.range__text –10
            div.range__btn
    a.btn.btn--primary.modal__btn(href="#")
      span Применить
    a.btn.btn--light.modal__btn(href="#")
      span Закрыть