section.modal__wrp
  div.modal
    div.modal__inner
      h2.modal__title.heading.heading--l Xiaomi Warm Floor
      p.modal__text.text Включено
      div.modal__content.diagram
        div.diagram__circle
          p.diagram__text
            span.diagram__temp +23
    a.btn.btn--primary.modal__btn
      span Применить
    a.btn.btn--light.modal__btn
      span Закрыть