.btn {
  border-radius: 20px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

  &:hover, &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }

  &--primary {
    color: $black;
    background-color: $primary;
  }

  &--primary-darken {
    color: $black;
    background-color: $primary-darken;
  }

  &--light {
    color: $gray-dark;
    background-color: white;
  }

  & span {
    display: inline-block;
    padding: 5px;
  }
}