@mixin decorated-icon($icon) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: $icon;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin box-shadow {
  box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}