.section {
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 $gap-xl;

  @media #{$breakpointDesktop} {
    max-width: inherit;
    margin: auto;
  }
}

.section__header {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 $gap-l;
  @media #{$breakpointTablet} {
    justify-content: flex-start;
  }
  @media #{$breakpointDesktop} {
    padding: 0;
  }

  &--lp {
    @media #{$breakpointDesktop} {
      padding-left: 40px;
      padding-left: 40px;
      max-width: 1366px;
      margin: auto;
    }
  }
}

